.logo-navbar {
    width: 10%;
}
.nav-background {
    background-image: url('../img/01.jpg');
    height: 500px;
    background-repeat: no-repeat;
}

.boton{
    background-color:#6f564a;
    margin: 2%;
}

.contenedor {
    align-items: center;
}

.contenedor-botones {
    background-color: #c7a15b;
}

.imagen-contenedor {
    margin: 20px;
    height: 250px;
}

.texto-contenedor {
    margin: 40px;
    width: 40%;
}

.btn-conseguila {
    height: 50px;
    align-items: center;
}

.footer {
    background-color:#c7a15b ;
}

.imagen-tienda{
    height: 300px;
    width: 60%;

}

.boton-comprar{
    background-color: #c7a15b;
    
}