.logo-navbar {
    width: 10%;
}
.nav-background {
background-color: #6f564a;
}

.boton{
    background-color:#c7a15b;
    margin: 2%;
    height: 60px;
    width: 20%;
    color: white;
    font-size: 20px;
}

.boton:hover{
    background-color:white;
    margin: 2%;
    height: 60px;
    width: 20%;
    color: #c7a15b;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.contenedor {
    align-items: center;
}

.contenedor-botones {
    background-image: url('../img/01.jpg');
    width: 100%;
    height: 300px;    
}

.imagen-contenedor {
    margin: 20px;
    height: 250px;
}

.texto-contenedor {
    margin: 40px;
    width: 40%;
}

.btn-conseguila {
    height: 50px;
    align-items: center;
    background-color:#6f564a;
    margin: 2%;
    height: 60px;
    width: 20%;
    color: white;
}

.btn-conseguila:hover{
    background-color:#c7a15b;
    margin: 2%;
    height: 60px;
    width: 20%;
    color: white;
}

.footer {
    background-color:#c7a15b ;
}

.imagen-tienda{
    height: 300px;
    width: 60%;

}

.boton-comprar{
    background-color: #c7a15b;
    
}

.btn-agregar{
    
}